div.navbar, navbar-brand {
    border-radius: 4px;
    margin: 1rem;
    position: absolute;
}

    li:hover, navbar-brand:hover {
        background-color: #293237;
        border-color: aliceblue;
        border-width: 2.5px;
        font-weight: bold;
        transform: scale(1.10);
        border-radius: 5px;
    }
