.jumbotron {
    background-image: url(https://img.freepik.com/free-photo/close-up-blank-old-concrete-wall_23-2147856094.jpg?size=626&ext=jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

hr.border {
    border: 5px outset #B2D7F7;
    border-radius: 2.5px;
}

hr.border-sm {
    border: 1px solid #B2D7F7;
    box-shadow: 0 2px 2px #19334d;
    border-radius: 2.5px;
}

h2 {
    text-align: center;
    font-weight: bold;
}

.btn-sm:hover {
    background-color: #19334d;
}

.btn-sm {
    display: block;
    width: 80%;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

h4.custom {
    text-align: center;
    padding-bottom: 15px;
}

div.offset {
    margin-left: 10px;
}
