@keyframes shake {
    25% {
        transform: rotate(calc(var(--angle) * -1));
    }

    50% {
        transform: rotate(var(--angle));
    }

    100% {
        transform: rotate(0deg);
    }
}

html {
    font: 100 1.5em sans-serif;
    text-decoration: none;
}

body {
    padding: 2em 5em 0em 5em;
}

h1 {
    font-weight: 100;
}

.display {
    display: inline;
    grid-gap: 0.2em;
}

.HOVER {
    --width: 100%;
    --time: 0.7s;
    position: relative;
    display: inline-block;
    height: 4em;
    width: 20%;
    padding: 2em;
    color: aliceblue;
    background: #293237;
    overflow: hidden;
    text-decoration: none;
    border-radius: 1.5px;
}

    .HOVER text {
        position: relative;
        z-index: 5;
        transition: color var(--time);
        text-decoration: none;
    }

    .HOVER:hover text {
        color: #222;
        text-decoration: none;
    }

    .HOVER span {
        border-radius: 100%;
        position: absolute;
        display: block;
        content: "";
        z-index: 0;
        width: 0;
        height: 0;
        background: aliceblue;
        transform: translate(-50%, -50%);
        transition: width var(--time), padding-top var(--time);
        text-decoration: none;
    }

    .HOVER:hover span {
        width: calc(var(--width)*2.25);
        padding-top: calc(var(--width)* 2.25);
        text-decoration: none;
    }

    .HOVER.FLASH:hover text {
        color: aliceblue;
        text-decoration: none;
    }

    .HOVER.FLASH span {
        background: #ff3b3b;
    }

.animated {
    --angle: 5deg;
    animation: shake 0.3s;
}
