@model IEnumerable<DogBreederCapstone.Models.Dog>

@{
    ViewBag.Title = "ReservationList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .well {
        height: 15px;
        width: 30%;
        background-color: #B2D7F7;
        text-align: center;
        padding-top: 2px;
        color: black;
    }
</style>

<br />
<div>
    <h2>Reservations</h2>
    <h6 class="well">~reservations that are awaiting your request</h6>
</div>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Pup</th>
            <th>Owner Name</th>
            <th>Litter</th>
            <th>Upgrade User</th>
            <th>Decline</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var fullName = item.PotentialOwner.FirstName + " " + item.PotentialOwner.LastName;
            <tr>
                <td>
                    <img src="@Url.Content(item.Image.ImagePath)" alt="Image" style="width: 125px; height: 100px;" />
                </td>
                <td>
                    @fullName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Litter.Name)
                </td>
                <td>
                    <input type="button" class="btn btn-info" value="Approve & Upgrade" onclick="location.href = '@Url.Action("UpgradePotentialOwner", "Breeders", new {id = item.PotentialOwnerId}, null)'" />
                </td>
                <td>
                    <input type="button" class="btn btn-info" value="Decline" onclick="location.href = '@Url.Action("DeclineReservation", "Breeders", new {id = item.Id}, null)'" />
                </td>
            </tr>
        }
    </tbody>
</table>
