@model IEnumerable<DogBreederCapstone.Models.Dog>

@{
    ViewBag.Title = "ReservationList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .well {
        height: 15px;
        width: 30%;
        background-color: #B2D7F7;
        text-align: center;
        padding-top: 2px;
        color: black;
    }

    hr.border {
        border: 5px outset #B2D7F7;
        border-radius: 2.5px;
    }

    #table {
        font-weight: bold;
        width: 100%;
    }

    #table td, #table th {
      border: 0.20px inset #19334d;
      padding: 8px;
      text-align: center;
    }

    #table tr:nth-child(even){background-color: #ecf2f9;}

    #table tr:hover {background-color: #B2D7F7;}

    #table th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: center;
      background-color: #19334d;
      color: #B2D7F7;
    }
</style>

<br />
<div>
    <h2 style="text-align: center;">Reservations</h2>
    <hr class="border" />
    <h6 class="well">~reservations that are awaiting your request</h6>
</div>

<table id="table">
    <thead>
        <tr>
            <th>Pup</th>
            <th>Owner Name</th>
            <th>Litter</th>
            <th>Upgrade User</th>
            <th>Decline</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var fullName = item.PotentialOwner.FirstName + " " + item.PotentialOwner.LastName;
            <tr>
                <td>
                    <img src="@Url.Content(item.Image.ImagePath)" alt="Image" style="width: 125px; height: 100px;" />
                </td>
                <td>
                    @fullName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Litter.Name)
                </td>
                <td>
                    <input type="button" class="btn btn-sm" value="Approve & Upgrade" onclick="location.href = '@Url.Action("UpgradePotentialOwner", "Breeders", new {id = item.PotentialOwnerId}, null)'" />
                </td>
                <td>
                    <input type="button" class="btn btn-sm" value="Decline" onclick="location.href = '@Url.Action("DeclineReservation", "Breeders", new {id = item.Id}, null)'" />
                </td>
            </tr>
        }
    </tbody>
</table>
