
@{
    ViewBag.Title = "SpotReserved";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h2>Congratulations! Your spot has been reserved!</h2>
</div>
<div>
    <h4>Welcome to the family! You now have the ability to post pictures of your pup in the Owner's Forum!</h4>
</div>
