@model IEnumerable<DogBreederCapstone.Models.ForumMessage>

@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    .well {
        height: 60px;
        width: auto;
        margin-left: 5.5%;
        margin-right: 5.5%;
        background-color: #c9edff;
        text-align: center;
        padding-top: 20px;
        color: black;
        border: 1px solid #eee;
        box-shadow: 0 2px 2px #ccc;
        font-family: Trebuchet MS, Helvetica, sans-serif;

    }

    h2 {
        text-align: center;
        font-weight: bold;
        font-family: Trebuchet MS, Helvetica, sans-serif;
    }

    h5 {
        font-style: oblique;
        font-weight: bold;
        font-size: medium;
    }

    .btn-sm:hover {
        background-color: #19334d;
    }

    div.container {
        margin-top: 10px;
        padding: 5px;
    }

    div.gallery {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: auto;
        height: auto;
        box-shadow: 0 4px 8px 0 slategray, 0 6px 20px 0 slategray;
    }

        div.gallery:hover {
            border: 1px solid #777;
        }

        div.gallery img {
            width: 33.33%;
            height: auto;
        }

    div.desc {
        padding: 15px;
        text-align: center;
        box-shadow: 0 4px 8px 0 slategray, 0 6px 20px 0 slategray;
    }

    div.right {
        text-align: right;
        padding: 0.25px;
    }

    hr.border {
        border: 4px outset #c9edff;
        border-radius: 2.5px;
    }

    hr.border-sm {
        border: 1px solid #c9edff;
        box-shadow: 0 2px 2px #19334d;
        border-radius: 2.5px;
    }
</style>

<br />

<body>
    <div class="row">
        <h2 style="text-align: center;">Owner's Forum</h2>
        <hr class="border" />
        <h5 class="well col-md-6">~Share what you and your Doggo have been up to!</h5>
        <div class="right">
            <input type="button" class="btn btn-primary" value="Post Status" onclick="location.href = '@Url.Action("Add", "ForumMessages")'" />
        </div>
    </div>
    <hr class="border-sm" />
    <br>
    <div class="row">
        <div class="container">
            @foreach (var item in Model)
            {
                <div class="gallery">
                    <img src="@Url.Content(item.ImagePath)" alt="Image" style="width: 275px; height: 250px;" />
                    <div class="desc">@Html.DisplayFor(modelItem => item.Status)</div>
                </div>
            }

        </div>
    </div>
</body>

<hr class="border-sm" />

