@model IEnumerable<DogBreederCapstone.Models.ForumMessage>

@{
    ViewBag.Title = "Owner's Forum";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    div.container {
        margin-top: 10px;
        padding: 5px;
    }

    div.gallery {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: auto;
        height: auto;
        box-shadow: 0 4px 8px 0 slategray, 0 6px 20px 0 slategray;
    }

        div.gallery:hover {
            border: 1px solid #777;
        }

        div.gallery img {
            width: 33.33%;
            height: auto;
        }

    div.desc {
        padding: 15px;
        text-align: center;
        box-shadow: 0 4px 8px 0 slategray, 0 6px 20px 0 slategray;
    }

    div.right {
        text-align: right;
        padding: 0.25px;
    }

    .well {
        height: 40px;
        width: 30%;
        background-color: #B2D7F7;
        text-align: center;
        padding-top: 2px;
        color: black;
    }
</style>

<br />

<body>
<div>
    <h2>Owner's Forum</h2>
    <h6 class="well col-md-6">~Share what you and your Doggo have been up to! See what other Doggos have been up to!</h6>
    <div class="right">
        <input type="button" class="btn btn-primary" value="Post Status" onclick="location.href = '@Url.Action("Add", "ForumMessages")'" />
    </div>
</div>
<br>
    <div class="container">
            @foreach (var item in Model)
            {
                <div class="gallery">
                    <img src="@Url.Content(item.ImagePath)" alt="Image" style="width: 260px; height: 250px;" />
                    <div class="desc">@Html.DisplayFor(modelItem => item.Status)</div>
                </div>
            }

    </div>
</body>


