@{
    ViewBag.Title = "Litters";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Litters</h2>

    <table id="litters" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Litter Name</th>
                <th>Coat</th>
                <th>Size</th>
                <th>Due</th>
                <th>Go Home</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#litters").DataTable({
                ajax: {
                    url: "/api/litters",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, litter) {
                            return "<a href='/litters/GetDogsFromLitter/" + litter.id + "'>" + data + "</a>";
                        }
                    },
                    {
                        data: "coat.name"
                    },
                    {
                        data: "size.name"
                    },
                    {
                        data: "dueDate"
                    },
                    {
                        data: "sendHomeDate"
                    }
                ]
            });
        });
    </script>
}


