
@{
    ViewBag.Title = "AdoptionDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Adoption Details</h2>

<h4>Step 1: Sign up and register an account as a Potential Owner</h4>
<h4>Step 2: Fill out an application</h4>
<h4>Step 3: Qualify and get approved</h4>
<h4>Step 4: Make a down payment and reserve the puppy from the litter you want</h4>