
@{
    ViewBag.Title = "BreedDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    hr.border {
        border: 5px outset #B2D7F7;
        border-radius: 2.5px;
    }

    div.bubble {
        border-radius: 20px;
        background-image: url(https://img.freepik.com/free-photo/close-up-blank-old-concrete-wall_23-2147856094.jpg?size=626&ext=jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed; 
        padding:20px;
        width: 100%;
        height: auto;
    }

    h3 {
        color: #19334d;
        text-align: center;
        font-weight: bolder;
        padding-bottom: 10px;
        border-bottom: 2px solid #B2D7F7;
    }

    h4 {
        color: #19334d;
        text-align: left;
        font-style: italic;
        padding-bottom:5px;
    }
</style>
<br />
<h2 style="text-align:center">Breed Details</h2>
<hr class="border" />

<div>
    <div class="bubble">
        <h3>Allergies</h3>
        <div>
            <h4>Most Australian Labradoodles are non-shedding; this is not the case for American Labradoodles.</h4>
            <h4>Most Australian Labradoodles shed less than humans. Coats continue to grow in length and requires combing and occasional grooming.</h4>
        </div>
    </div>
    <br />
    <div class="bubble">
        <h3>Color & Coats</h3>
    </div>
    <br />
    <div class="bubble">
        <h3>Energy & Exercise</h3>
    </div>
    <br />
    <div class="bubble">
        <h3>Life Expectancy</h3>
    </div>
    <br />
    <div class="bubble">
        <h3>Names</h3>
    </div>
    <br />
    <div class="bubble">
        <h3>Sizes</h3>
    </div>

</div>
