
@{
    ViewBag.Title = "BreedDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="@Url.Content("~/Content/custom-theme-breed.css")" rel="stylesheet" type="text/css" />
</head>
<br />
<div class="row">
    <h2>Breed Details</h2>
    <hr class="border" />
    <h5 class="well">~ Everything you'd need to know in order to see if an Australian Labradoodle is the right Doggo for you!</h5>
    <hr class="border-sm" />
</div>
<div class="row">
    <div class="col-md-6">
        <div class="container-bubble">
            <h3>Allergies</h3>
            <div style="padding: 0px 15px 15px 15px;">
                <h4>Most Australian Labradoodles are non-shedding; this is not the case for American Labradoodles.</h4>
                <h4>Most Australian Labradoodles shed less than humans. Coats continue to grow in length and requires combing and occasional grooming. A multi-generational Australian Labradoodle will have a thicker coat than a first gneration American Labradoodle and can have a curly, fleece or wavy coat type.</h4>
                <h4>Multi-generational Labradoodles are recommended for families with moderate to severe allergies.</h4>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="container-bubble">
            <h3>Names</h3>
            <div>
                <h4>We tend not to prename the dogs; your puppy will be identified by a collar color.</h4>
                <h4>Here are some popular online resources for naming your Australian Labradoodle:</h4>
                <ul class="name-list">
                    <li class="padding-small"><a href="https://www.mydogsname.com/" class="btn btn-sm">My Dogs Name &raquo;</a></li>
                    <li class="padding-small"><a href="https://www.rover.com/blog/dog-names/" class="btn btn-primary btn-sm">Top 100 Male & Female Dog Names &raquo;</a></li>
                    <li class="padding-small"><a href="https://www.petmd.com/dog/male-puppy-names" class="btn btn-primary btn-sm">Male Puppy Names &raquo;</a></li>
                    <li class="padding-small"><a href="https://www.petmd.com/dog/female-puppy-names" class="btn btn-primary btn-sm">Female Puppy Names &raquo;</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="row">
        <div class="col-md-4">
            <div class="container-bubble">
                <h3>Coats</h3>
                <ul class="colorcoat-list">
                    <li class="padding-big">Inconsistent Coat (IC)</li>
                    <li class="padding-big">Hair</li>
                    <li class="padding-big">Fleece</li>
                    <li class="padding-big">Wool</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="container-bubble">
                <h3>Colors</h3>
                <div>
                    <ul class="colorcoat-list">
                        <li class="padding-small">Caramel</li>
                        <li class="padding-small">Red</li>
                        <li class="padding-small">Apricot/Gold</li>
                        <li class="padding-small">Blue</li>
                        <li class="padding-small">Silver</li>
                        <li class="padding-small">Chocolate</li>
                        <li class="padding-small">Cafe</li>
                        <li class="padding-small">Lavender</li>
                        <li class="padding-small">Parchment</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="container-bubble">
                <h3>Sizes</h3>
                <ul class="size-list">
                    <li class="padding-big">MICRO: <span class="bolder"> 12" - 14" </span>|<span class="bolder">8 - 14 lbs</span></li>
                    <li class="padding-big">MINI: <span class="bolder"> 14" - 16" </span>|<span class="bolder">12 - 25 lbs</span></li>
                    <li class="padding-big">MEDIUM: <span class="bolder"> 17" - 20" </span>|<span class="bolder">20 - 40 lbs</span></li>
                    <li class="padding-big">STANDARD: <span class="bolder"> 21" - 24" </span>|<span class="bolder">50 - 65 lbs</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="container-bubble-sm">
            <h3>Energy & Exercise</h3>
            <div>
                <h4>Australian Labradoodles are reasonably energetic dogs who do require some exercise. A daily half hour walk around the neighborhood will keep them happy.</h4>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="container-bubble-sm">
            <h3>Life Expectancy</h3>
            <div>
                <h4>Generally 14 to 16 years. It's all in the diet. Low quality food, less. High quality, fresh food adds years to your puppy's life.</h4>
            </div>
        </div>
    </div>
</div>
<hr class="border-sm" />