
@{
    ViewBag.Title = "BreedDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    hr.border {
        border: 5px outset #B2D7F7;
        border-radius: 2.5px;
    }
</style>
<br />
<h2 style="text-align:center">Breed Details</h2>
<hr class="border" />

