
@{
    ViewBag.Title = "BreedDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    hr.border {
        border: 5px outset #B2D7F7;
        border-radius: 2.5px;
    }

    div.bubble {
        border-radius: 20px;
        background-image: url(https://img.freepik.com/free-photo/close-up-blank-old-concrete-wall_23-2147856094.jpg?size=626&ext=jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed; 
        padding:20px;
        width: 100%;
        height: auto;
    }

    h3 {
        color: #19334d;
        text-align: center;
        font-weight: bolder;
        padding-bottom: 10px;
        border-bottom: 2px solid #B2D7F7;
    }

    h4 {
        color: #19334d;
        text-align: justify;
        font-style: italic;
        padding:5px;

    }

    #coats {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    #coats td, #coats th {
      border: 0.25px inset #19334d;
      padding: 8px;
      text-align: center;
    }

    #coats tr:nth-child(even){background-color: #ecf2f9;}

    #coats tr:hover {background-color: #B2D7F7;}

    #coats th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: center;
      background-color: #19334d;
      color: #B2D7F7;

    }
</style>
<br />
<h2 style="text-align:center">Breed Details</h2>
<hr class="border" />

<div>
    <div class="bubble">
        <h3>Allergies</h3>
        <div>
            <h4>Most Australian Labradoodles are non-shedding; this is not the case for American Labradoodles.</h4>
            <h4>Most Australian Labradoodles shed less than humans. Coats continue to grow in length and requires combing and occasional grooming. A multi-generational Australian Labradoodle will have a thicker coat than a first gneration American Labradoodle and can have a curly, fleece or wavy coat type.</h4>
            <h4>Multi-generational Labradoodles are recommended for familis with moderate to sever allergies.</h4>
        </div>
    </div>
    <br />
    <div class="bubble">
        <h3>Color & Coats</h3>
        <div>
            <table id="coats">
                <tr>
                    <th>COAT TYPES</th>
                    <th>COAT COLORS</th>
                </tr>
                <tr>
                    <td>Inconsistent Coat</td>
                    <td>Caramal Coat</td>
                </tr>
                <tr>
                    <td>Hair Coat</td>
                    <td>Red Coat</td>
                </tr>
                <tr>
                    <td>Fleece Coat</td>
                    <td>Apricot Coat</td>
                </tr>
                <tr>
                    <td>Wool Coat</td>
                    <td>Blue Coat</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Silver Coat</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Chocolate Coat</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Cafe Coat</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Lavender Coat</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Parchment Coat</td>
                </tr>
            </table>
        </div>
    </div>
    <br />
    <div class="bubble">
        <h3>Energy & Exercise</h3>
    </div>
    <br />
    <div class="bubble">
        <h3>Life Expectancy</h3>
    </div>
    <br />
    <div class="bubble">
        <h3>Names</h3>
    </div>
    <br />
    <div class="bubble">
        <h3>Sizes</h3>
    </div>

</div>
