
@{
    ViewBag.Title = "BreedDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    hr.border {
        border: 5px outset #B2D7F7;
        border-radius: 2.5px;
    }

    div.bubble {
        border-radius: 20px;
        background-image: url(https://img.freepik.com/free-photo/close-up-blank-old-concrete-wall_23-2147856094.jpg?size=626&ext=jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed; 
        padding:20px;
        width: 100%;
        height: auto;
    }

    h3 {
        color: #19334d;
        text-align: center;
        font-weight: bolder;
        padding-bottom: 20px;
        border-bottom: 2px solid  #ccddff;
    }

    h4 {
        color: #19334d;
        text-align: justify;
        font-style: italic;
        font-weight: bold;
        padding:5px;

    }

    h4.well {
        color:  #e6eeff;
        text-align: justify;
        font-style: italic;
        font-weight: bold;
        padding:7px;
        height: 40px;
        width: 15%;
        background-image: url(https://cdn.hipwallpaper.com/i/21/80/7kKAgd.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed; 
    }

    h5 {
        color: #19334d;
        text-align: justify;
        font-style: italic;
        font-weight: bolder;
        padding:5px;

    }

    #coats {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        font-style: italic;
        font-weight: bold;
        width: 100%;
    }

    #coats td, #coats th {
      border: 0.25px inset #19334d;
      padding: 8px;
      text-align: center;
    }

    #coats tr:nth-child(even){background-color: #ecf2f9;}

    #coats tr:hover {background-color: #B2D7F7;}

    #coats th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: center;
      background-color: #19334d;
      color: #B2D7F7;

    }
</style>
<br />
<h2 style="text-align:center">Breed Details</h2>
<hr class="border" />

<div>
    <div class="bubble">
        <h3>Allergies</h3>
        <div>
            <h4>Most Australian Labradoodles are non-shedding; this is not the case for American Labradoodles.</h4>
            <h4>Most Australian Labradoodles shed less than humans. Coats continue to grow in length and requires combing and occasional grooming. A multi-generational Australian Labradoodle will have a thicker coat than a first gneration American Labradoodle and can have a curly, fleece or wavy coat type.</h4>
            <h4>Multi-generational Labradoodles are recommended for familis with moderate to sever allergies.</h4>
        </div>
    </div>
    <br />
    <div class="bubble">
        <h3>Color & Coats</h3>
        <div>
            <table id="coats">
                <tr>
                    <th>COAT TYPES</th>
                    <th>COAT COLORS</th>
                </tr>
                <tr>
                    <td>Inconsistent Coat</td>
                    <td>Caramal Coat</td>
                </tr>
                <tr>
                    <td>Hair Coat</td>
                    <td>Red Coat</td>
                </tr>
                <tr>
                    <td>Fleece Coat</td>
                    <td>Apricot Coat</td>
                </tr>
                <tr>
                    <td>Wool Coat</td>
                    <td>Blue Coat</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Silver Coat</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Chocolate Coat</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Cafe Coat</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Lavender Coat</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Parchment Coat</td>
                </tr>
            </table>
        </div>
    </div>
    <br />
    <div class="bubble">
        <h3>Energy & Exercise</h3>
        <div>
            <h4>Australian Labradoodles are reasonably energetic dogs who do require some exercise. A daily half hour walk around the neighborhood will kep them happy.</h4>
        </div>
    </div>
    <br />
    <div class="bubble">
        <h3>Life Expectancy</h3>
        <div>
            <h4>Generally 14 to 16 years. It's all in the diet. Low quality food, less. High quality, fresh food adds years to your puppy's life.</h4>
        </div>
    </div>
    <br />
    <div class="bubble">
        <h3>Names</h3>
        <div>
            <h4>There are a number of different naming resources online for finding possible names for your new dog. We tend not to prename the dogs; your puppy will be identified by a collar color.</h4>
            <h4>Here are some popular online resources for naming your Australian Labradoodle:</h4>
            <p style="padding: 2.5px;"><a href="https://www.mydogsname.com/" class="btn btn-primary btn-sm">My Dogs Name &raquo;</a></p>
            <p style="padding: 2.5px;"><a href="https://www.rover.com/blog/dog-names/" class="btn btn-primary btn-sm">Top 100 Male & Female Dog Names &raquo;</a></p>
            <p style="padding: 2.5px;"><a href="https://www.petmd.com/dog/male-puppy-names" class="btn btn-primary btn-sm">Male Puppy Names &raquo;</a></p>
            <p style="padding: 2.5px;"><a href="https://www.petmd.com/dog/female-puppy-names" class="btn btn-primary btn-sm">Female Puppy Names &raquo;</a></p>
        </div>
    </div>
    <br />
    <div class="bubble">
        <h3>Sizes</h3>
        <div>
            <h4 class="well">Micro:</h4>
            <h5>Height: 12" - 14" at shoulder. Weight: 8 - 14 lbs.</h5>
            <br />
            <h4 class="well">Miniature/Mini:</h4>
            <h5>Height: 14" - 16" at shoulder. Weight: 16 - 25 lbs.</h5>
            <br />
            <h4 class="well">Medium:</h4>
            <h5>Height: Female, 17" - 19" at shoulder, Male, 19" - 20". Weight: 30 - 40 lbs.</h5>
            <br />
            <h4 class="well">Standard:</h4>
            <h5>Height: Female 21" - 23" at shoulder, Male, 22" - 24". Weight: 50 - 65 lbs.</h5>
        </div>
    </div>
</div>
<hr class="border" />