@{
    ViewBag.Title = "Home Page";
}
<head>
    <link href="@Url.Content("~/Content/custom-theme-index.css")" rel="stylesheet" type="text/css" />
</head>
<br />
<div class="row">
    <div class="jumbotron">
        <h1>Doggo</h1>
        <p class="lead">Welcome to Doggo! The easiest place to connect with a Breeder and find your pup!</p>
        <p><a href="https://alaa-labradoodles.com/" class="btn btn-primary btn-sm">Learn more &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="padding-left:10px; padding-bottom:50px;">
        <img src="http://nebula.wsimg.com/cc0a501bffd5dcac56cdea43b33b137a?AccessKeyId=06C2760C54BF9250F233&disposition=0&alloworigin=1" style="height:200px; width:350px; border: 10px groove #19334d; border-radius:5px;" alt="W3Schools.com">
    </div>
</div>

<hr class="border-sm" />

