@{
    ViewBag.Title = "Home Page";
}
@*<head>
    <link href="@Url.Content("~/Content/custom-theme.css")" rel="stylesheet" type="text/css" />
</head>*@
<br />
<div class="jumbotron">
    <h1>Doggo</h1>
    <p class="lead">Welcome to Doggo! The easiest place to connect with a Breeder and find your pup!</p>
    <p><a href="https://alaa-labradoodles.com/" class="btn btn-primary btn-sm">Learn more &raquo;</a></p>
</div>
<hr class="border-sm" />

