@{
    ViewBag.Title = "Home Page";
}
<style>
    .jumbotron {
        background-image: url(https://img.freepik.com/free-photo/close-up-blank-old-concrete-wall_23-2147856094.jpg?size=626&ext=jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    hr.border-sm {
        border: 1px solid #B2D7F7;
        box-shadow: 0 2px 2px #19334d;
        border-radius: 2.5px;
    }
</style>

<br />
<div class="jumbotron">
    <h1>Doggo</h1>
    <p class="lead">Welcome to Doggo! The easiest place to connect with a Breeder and find your pup!</p>
    <p><a href="https://alaa-labradoodles.com/" class="btn btn-primary btn-sm">Learn more &raquo;</a></p>
</div>

<hr class="border-sm" />

