
@{
    ViewBag.Title = "Playground";
}

<head>
    <link href="@Url.Content("~/Content/custom-playground-theme.css")" rel="stylesheet" type="text/css" />
</head>
<hr />
<br />
<h1>
    Hover over each of the buttons to see the effect in action.
</h1>
<div class="display">
    <a class="HOVER">
        <span></span>
        <text>Hover Me!</text>
    </a>
    <a class="HOVER">
        <span></span>
        <text>Hover Me!</text>
    </a>
    <a class="HOVER">
        <span></span>
        <text>Hover Me!</text>
    </a>
    <a class="HOVER FLASH">
        <span></span>
        <text>Don't Hover Me!</text>
    </a>
</div>
